body, html {
    height: 100%;
  }
  
  .row {
    /* The image used */
    background-image: url("/Assets/Images/Crystal_07.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }

  .card-img {
      background-color: black;
      max-width: 50%;
      height: auto;
      align-self: center;
      margin-top: 20px;
      opacity: 1;
  }

  .col-sm-4 {
      padding-top: 20px;
  }

  .jumbotron {
      margin-top: 20px;
      background-color: rgb(12, 11, 11);
      opacity: .8;
      box-shadow: 10px 10px 10px black;
      
  }

  .card2 {
      padding-top: 100px;
  }